body {
	background-color: #ffffff
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #4163db;
}

h3 {
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #4163db;
}




#Exercises {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
p{list-style-type: none;
	position: fixed;
	margin: -20px;

}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	/*Add your CSS here!*/
	display: inline;
	padding: 5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #cc0323
}

#Projects{
	border: 2px solid #000000;
	float:left;
	position: relative;
	left: 229px;
	bottom: -20px;
	border-radius: 5px;
	background-color: #cc0323;
	height: 30px;
	width: 150px;
	
}

