body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-weight: lighter;
	background-color: white;
}
/* Text
-------------------------------------------------- */
.text{
	padding-left: 2.25em;
	padding-right: 2.25em;
	padding-top: 1em;
}
h1{
	font-size: 48pt;
	font-weight: 900;
}
h2{
	font-size: 20pt;
	font-weight: 100;
}
h1, h2{
	color: white;
} 
/* Image
-------------------------------------------------- */

.A{
	width:100%;

}
.titletint {
    background-image: url('BackpainMan.jpg');
    
    height: 32px;
    width: 32px;
    position: relative;
}

/* this should draw a box on the left side of the image */
.titletint {
	background: red;
    opacity:0.5;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    
    
}


/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

	/* text */
	.text{
	margin-left: 2px;
    }
    body{
    	background-color: yellow;
    }
	h1, h2{
		color: green;
	}
	h1{
		font-size: 12em;
		font-weight: 900;
		font-family: "Times New Roman";
	}