body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
	font-weight: 200;
}

/* Global
-------------------------------------------------- */

h1, h2 {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
} 

h3 {
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 48px;
}

h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	color:black;
	font-size:36px;
}
p {
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 20px;
}

/* Title Container
-------------------------------------------------- */

.title-container {
	width:100%;
	position: relative;
	height: 500px;
}

.title-img{
	max-height: 500px;
    overflow: hidden;
    max-width: 100%;
}

.title-img img{
	width: 100%;
	/*opacity:5.0px;*/
}
.title-box{
	position: absolute;
	top: 0;
	left: 0;
	background: grey;
	opacity: 0.5;
	width: 50%;
	height: 500px;
}

.title-text {
	padding-left: 50px;
	padding-top: 150px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;

}


/* Heal Away Container 
-------------------------------------------------- */

.healaway {
	width:100%;
	height:500px;
}

.text {
	padding-top: 150px;

}

/* launch Container 
-------------------------------------------------- */

.launch-container {
	width:100%;
	height: 500px;
	
}
.launch-box{
	padding-top:150px;
	width:50%;
	height: 500px;
	float: left;
}

.launch-text h4,p{
	text-align: center;
	height:20%;
	padding-left:70px;
	padding-right:60px;
	
}

.launch-img {
	width:40%;
	margin:0;
	padding:0;
	float: left;
}

.launch-img img{
	width:100%;
	padding-top:30%;
	text-align:center;
}
/* painpoints Container 
-------------------------------------------------- */

.painpoints-container {
	width:100%;
	height: 500px;
	background-color:grey;
	opacity:5.3px;
	margin:0;
	clear:both;
	padding:0;
	
}
.painpoints-img {
	width:30%;
	margin:0;
	padding:0;
	float:left;
	
}
.painpoints-img img{
	width:100%;
}
.painpoints-img1 {
	width:30%;
	margin:0;
	padding:0;
	float:left;
	
}
.painpoints-img1 img{
	width:100%;
}
.painpoints-img2 {
	width:30%;
	margin:0;
	padding:0;
	float:left;
	
}
.painpoints-img2 img{
	width:100%;
}
.painpoints-img3 {
	width:30%;
	margin:0;
	padding:0;
	float:left;
	
}
.painpoints-img3 img{
	width:100%;
}
.painpoints-img4 {
	width:30%;
	margin:0;
	padding:0;
	float:left;
}
.painpoints-img4 img{
	width:100%;
}

.painpoints-img5 {
	width:30%;
	margin:0;
	padding:0;
	float:left;
}
.painpoints-img5 img{
	width:100%;
}
/* promotion Container 
-------------------------------------------------- */

.promotion-container {
	width:100%;
	height: 500px;
	margin:0;
	padding:0;
}
.promotion-doctorimg {
	width:30%;
	margin:0;
	padding:0;
	padding-left:10px;
	float:left;
}
.promotion-doctorimg img{
	width:100%;
	padding-left:50px;
	padding-top:70px;
	float:left;
}
.promotion-say  {
	width:50%;
	margin:0;
	padding:0;
	float:left;
	padding-right:10px;
	padding-left:80px;
	padding-top:130px;
}
.promotion-say1  {
	width:60%;
	margin:0;
	padding:0;
	float:left;
	padding-right:90px;
	padding-left:60px;
	padding-top:60px;
}

.promotion-doctorimg1 {
	width:20%;
	margin:0;
	padding:0;
	padding-left:10px;
	float:right;
}
.promotion-doctorimg1 img{
	width:100%;
	padding-right:50px;
	float:right;
}
/* footer Container 
-------------------------------------------------- */

.footer-container {
	width:100%;
	height: 500px;
	margin:0;
	padding:0;
	border-top:0.5px solid gray;

}
.footer-img img{
	width:20%;
	margin:0;
	padding:0;
	padding-left:350px;
	padding-right:300px;
	padding-top:150px;

	
}
.footer-main{
	margin:auto;
}
.footer-img1 img{
	width:5%;
	margin:0;
	padding:0;
	padding-left:250px;
	padding-right:300px;
	padding-top:30px;
	
}
.footer-img2 img{
	width:5%;
	margin:0;
	padding:0;
	float:left;
	padding-left:250px;
	padding-right:30px;
	padding-top:30px;
	
}
.footer-img3 img{
	width:5%;
	margin:0;
	padding:0;
	float:left;
	padding-left:250px;
	padding-right:30px;
	padding-top:30px;

	
}

/* Text
-------------------------------------------------- */

.title h1{
	font-size: 48pt;
	float:left;
}
.title h2{
	font-size: 20pt;
	float:left;
	padding-left:50px;
}
.healaway h3, p{
	text-align : center;
	
}


/* Image
-------------------------------------------------- */


.B1{
	width:100%;
	height:500px;
}

/* Mobile
-------------------------------------------------- */
/*@media screen and (max-width: 768px) {

	
	.text{
		margin-left: 2px;
	}
	body{
		background-color: yellow;
	}
	h1, h2{
		color: green;
	}
	h1{
		font-size: 12em;
		font-weight: 200;
		font-family: "Times New Roman";
	}*/